# ===== ENV FILES (VERY IMPORTANT) =====
.env
backend/.env
frontend/.env

# ===== NODE =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== BUILD FILES =====
dist/
build/

# ===== OS FILES =====
.DS_Store
Thumbs.db

# ===== IDE / EDITOR =====
.vscode/
.idea/

# ===== LOGS =====
logs
*.log

# ===== COVERAGE =====
coverage/
